.container-main {
  max-width: 640px;
  width: 90%;
  height: 550px;
  margin: 30px auto;
  border: solid grey 2px;
  background-color: #201f1f;
}
.container-black {
  width: 90%;
  height: 450px;
  margin: 20px auto;
  overflow: hidden;
  margin: 20px auto;
  padding: 0;
  box-sizing: border-box;
  transition: left 0.5s ease-in-out;
  height: 450px;
}

.container-black div {
  height: 100%;
  margin: 10px auto;
  background-repeat: no-repeat;
}
img {
  border-radius: 5px;
}

.text {
  width: 100px;
  height: fit-content;
}
input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}
:checked + .bul {
  background: transparent;
  border: 3px solid #7e7ee0;
}

.bul {
  cursor: pointer;
  text-indent: -99999px;
  overflow: hidden;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #7e7ee0;
  border: 3px solid #7e7ee0;
  box-sizing: border-box;
  border-radius: 100%;
  z-index: 100;
  margin-right: 15px;
}
.bul:hover {
  border-color: white;
  background: white;
}
.underThePicture {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35rem;
  height: 8rem;
}

.carousel {
  display: flex;
  justify-content: center;
  margin-left: 1.5rem;
  margin-top: -30px;
  margin-right: 20px;
}

#slide1:checked ~ .container-main .container-black .slide1-bg1 .s1,
#slide1:checked ~ .container-main .underThePicture .text .text1 {
  margin-left: 0;
}

#slide2:checked ~ .container-main .container-black .inner-slider__wrapper .s1,
#slide2:checked
  ~ .container-main
  .control-block__wrapper
  .mem-slider__wrapper
  .inner-mem__wrapper
  .m1 {
  margin-left: -20%;
}
#slide3:checked ~ .container-main .container-black .inner-slider__wrapper .s1,
#slide3:checked
  ~ .container-main
  .control-block__wrapper
  .mem-slider__wrapper
  .inner-mem__wrapper
  .m1 {
  margin-left: -40%;
}
#slide4:checked ~ .container .container-black .inner-slider__wrapper .s1,
#slide4:checked
  ~ .container
  .control-block__wrapper
  .mem-slider__wrapper
  .inner-mem__wrapper
  .m1 {
  margin-left: -60%;
}

#slide1:checked ~ .container-main .carousel .b1,
#slide2:checked ~ .container-main .carousel .b2,
#slide3:checked ~ .container-main .carousel .b3,
#slide4:checked ~ .container-main .carousel .b4 {
  background: lightblue;
}
